<div class="container">
    <div class="row">
        <h2>Terms of Informed Consent</h2>
        <p>The goal of this behavioral research study is to find out more about the health behaviors of cancer survivors. Researchers want to understand the factors related to physical activity, dietary intake, and sedentary behavior. Thank you for taking part in this study by filling out this survey.</p>

        <p>Before you begin the survey on the next page, please read the following paragraph and by answering the following questions, you agree to take part in this survey. Each survey should take 1 to 3 minutes to complete. We would like you to respond to 1 survey in the morning and 1 survey in the evening a few days per week.</p>

        <p>Questionnaire Statement</p>
        <p>You have read the description of the study, and You have decided to participate in the research project described here. You understand that some of the questions may make you feel upset or uncomfortable.  You also understand that you may refuse to answer any (or all) of the questions at this or any other time. You understand that there is a possibility that you may be contacted in the future about this, but that you are free to refuse any further participation if you wish.</p>

        <p>Please do your best to answer every question honestly.</p>

        <p>During the course of this study, the research team at The University of North Texas Health Science Center and the University of Houston will be collecting information about you that they may share with health authorities, study monitors who check the accuracy of the information, or individuals who put all the study information together in report form. By answering the questions, you are providing authorization for the research team to use and share your information at any time. If you do not want to authorize the use and disclosure of your information, you may choose not to answer these questions. There is no expiration date for the use of this information as stated in this authorization. The University of North Texas Health Science Center and the University of Houston will take appropriate steps to keep your personal health information private. However, there is no guarantee of absolute privacy.</p>


    </div>
</div>